@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<title>@{config.name}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="robots" content="all,follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<link href="//cdn.componentator.com/spa.min@19.css" rel="stylesheet" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700&subset=latin,latin-ext" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/codemirror.min.css" />
	<script src="//cdn.componentator.com/spa.min@19.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/codemirror.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/mode/nginx/nginx.min.js"></script>
	<script src="@{REPO.ui}"></script>
	@{import('head', 'ui.css + default.css', 'helpers.js + syntax.js', 'favicon.ico')}
</head>
<body>

	<ui-component name="exec"></ui-component>
	<ui-component name="errorhandler"></ui-component>
	<ui-component name="locale"></ui-component>
	<ui-component name="loading" class="ui-loading"></ui-component>

	<ui-component name="websocket" config="url:/;encoder:false"></ui-component>
	<ui-component name="console" path="common.showlogs" config="datasource:common.logs"></ui-component>
	<ui-component name="mainprogress" path="common.progress"></ui-component>
	<ui-component name="shortcuts"></ui-component>
	<ui-component name="windows" path="common.windows"></ui-component>
	<ui-component name="notify" config="position:bottom right"></ui-component>

	<ui-component name="LAZY directory" config="placeholder:@(Search)"></ui-component>
	<ui-component name="LAZY fileuploader"></ui-component>
	<ui-component name="LAZY floatinginput"></ui-component>
	<ui-component name="LAZY message" config="style:2;button:@(Close)"></ui-component>
	<ui-component name="LAZY approve"></ui-component>
	<ui-component name="LAZY menu" config="style:2"></ui-component>
	<ui-component name="LAZY builder"></ui-component>

	<div class="ui-dark">
		<ui-component name="LAZY notifybar"></ui-component>
	</div>

	<div class="mainmenu exec" data-exec="common/showmenu"><i class="ti ti-align-justify"></i></div>

	<ui-component name="layout2" config="parent:window;marginxs:34" class="invisible">
		<div data-type="left" data-size="230,230,200,0" data-scrollbar="selector:main;margin:0">
			<main>
				<ui-plugin path="sysinfo" class="stats">
					<div class="padding npb">
						<ui-component name="gauge" path="?.cpu" config="colors:30 #8CC152 25,40 #EDBC5A 35,30 #DB3737 45"></ui-component>
						<ui-bind path="?.processes" config="text:Thelpers.pluralize(value, @('# processes,# process,# processes,# processes'));empty" class="center mt10 block"></ui-bind>
						<ui-bind path="?.version_server" config="text;empty" class="center block"></ui-bind>
					</div>
					<ui-component name="livestats" path="?.live" config="max:100;colors:cpu=#E73323,memory=#68B25B,storage=#2E67C5" class="mt10"></ui-component>
					<div class="padding">
						<div class="keyvalue-group">
							<ui-bind path="?.live.memory" config="html;helper:progress"></ui-bind>
							<i class="ti ti-microchip" style="color:#68B25B"></i>@(Memory)
						</div>
						<div class="keyvalue">
							<ui-bind path="?.memused" config="text;helper:filesize" class="value"></ui-bind>
							<div class="key">@(Used)</div>
						</div>
						<div class="keyvalue">
							<ui-bind path="?.memtotal" config="text;helper:filesize" class="value"></ui-bind>
							<div class="key">@(Total)</div>
						</div>
						<hr />
						<div class="keyvalue-group">
							<ui-bind path="?.live.storage" config="html;helper:progress"></ui-bind>
							<i class="ti ti-hdd" style="color:#2E67C5"></i>@(Storage)
						</div>
						<div class="keyvalue">
							<ui-bind path="?.hddused" config="text;helper:filesize" class="value"></ui-bind>
							<div class="key">@(Used)</div>
						</div>
						<div class="keyvalue m">
							<ui-bind path="?.hddtotal" config="text;helper:filesize" class="value"></ui-bind>
							<div class="key">@(Total)</div>
						</div>
						<hr />
						<div>@(IP address): <ui-bind path="?.ip" config="text;empty" class="b">---</ui-bind></div>
						<div class="gray">
							<div>@(Uptime): <ui-bind path="?.uptime" config="text;!helper:uptime;empty"></ui-bind></div>
						</div>
					</div>
				</ui-plugin>
				<ui-component name="aselected" path="NAV.url" class="nav">
					<ui-bind path="common.plugins" config="template">
						<script type="text/html">
							<nav>
							{{ foreach m in value }}
								<a href="{{ m.url }}" class="jR" title="{{ m.name }}"><i class="{{ m.icon }}"></i>{{ m.name }}</a>
							{{ end }}
								<div class="exec" data-exec="common/logout" title="@(Logout)"><i class="ti ti-power-off red"></i>@(Logout)</div>
							</nav>
						</script>
					</ui-bind>
				</ui-component>
				<br />
			</main>
		</div>
		<div data-type="main">
			<ui-bind path="common.plugins" config="template" class="block">
				<script type="text/html">
					{{ foreach m in value }}
					<ui-component name="page" path="common.page" config="if:plugin{{ m.id }};url:@{#}/_{{ m.id }}/index.html;reload:?/reload;id:_{{ m.id }}" class="hidden invisible"></ui-component>
					{{ if m.routes }}
						{{ foreach route in m.routes }}
						<ui-component name="page" path="common.page" config="if:plugin{{ m.id }}{{ route.html }};url:@{#}/_{{ m.id }}/{{ route.html }}.html;reload:?/reload;id:_{{ m.id }}" class="hidden invisible"></ui-component>
						{{ end }}
					{{ fi }}
					{{ end }}
				</script>
			</ui-bind>
			<!--
			<ui-component name="page" path="common.page" config="if:apps;init:applications_init;url:/parts/apps.html;reload:apps/reload"></ui-component>
			<ui-component name="page" path="common.page" config="if:settings;reload:settings/reload;url:/parts/settings.html"></ui-component>
			<ui-component name="page" path="common.page" config="if:alarms;reload:alarms/reload;url:/parts/alarms.html"></ui-component>
			<ui-component name="page" path="common.page" config="if:users;reload:users/reload;url:/parts/users.html"></ui-component>
			-->
		</div>
	</ui-component>

	@{json(user, 'userdata')}
	@{json(model, 'pluginsdata')}

	<script>

		var common = { shownotifications: +('@{PREF.notifications || 0}') > 0, unixsocket: '@{CONF.unixsocket}' === 'true', windows: [], spawns: {} };
		var user = PARSE('#userdata');

		DEF.dateformat = '@(yyyy-MM-dd)';
		DEF.api = '/api/';

		ENV('date', '@(yyyy-MM-dd)');
		ENV('ts', '@(yyyy-MM-dd HH:mm)');

		// Current page
		common.name = '@{CONF.name}';
		common.page = 'pluginapps';
		common.plugins = PARSE('#pluginsdata');

		// Current form
		common.form = '';

		common.logs = {};
		common.logs.apps = { icon: 'ti ti-list', name: '@(Applications)', items: [] };

		NAV.clientside('.jR');

		ON('ready', function() {
			SETTER(true, 'loading/hide', 500);
		});

		ON('@flag showloading', function() {
			SETTER('loading/show');
		});

		ON('@flag hideloading', function() {
			SETTER('loading/hide', 1000);
		});

		ON('online', function(is) {
			SETTER('loading/' + (is ? 'hide' : 'show'), is ? 1000 : 'Connecting to the server ...');

			// Reset windows
			common.windows = [];
			common.spawns = {};
			UPD('common.windows');

		});

		PLUGIN('common', function(exports) {

			var model = exports.model;

			model.plugins.forEach(function(plugin) {
				plugin.url = '@{#}/' + (plugin.id === 'apps' ? '' : (plugin.id + '/'));
				ROUTE(plugin.url, () => exports.set('page', 'plugin' + plugin.id), 'init');
				plugin.routes && plugin.routes.forEach(item => ROUTE('@{#}/' + item.url, () => exports.set('page', 'plugin' + plugin.id + item.html), 'init'));
				plugin.import && $(document.body).append('<ui-import config="url:{0};id:_{1}"></ui-import>'.format('@{#}/_' + plugin.id + '/' + plugin.import, plugin.id));
			});

			exports.refresh = function() {
			};

			exports.page = function(el) {
				SET('common.page', el.attrd('if'));
			};

			exports.more = function(el) {
				var opt = {};
				opt.element = el;
				opt.large = true;
				opt.items = [];

				if (user.sa) {
					opt.items.push({ id: 'alarms', name: '@(Alarms)', icon: 'ti ti-bell' });
					opt.items.push({ id: 'users', name: '@(Users)', icon: 'ti ti-users' });
					opt.items.push({ id: 'settings', name: '@(Settings)', icon: 'ti ti-cog' });
				}

				opt.items.push({ id: 'console', name: '@(Toggle console)', icon: 'ti ti-file-alt' });

				if (user.sa)
					opt.items.push({ id: 'terminal', name: '@(Open terminal)', icon: 'ti ti-terminal' });

				opt.items.push('-');
				opt.items.push({ id: 'profile', name: '@(My profile)', icon: 'ti ti-user-circle' });
				opt.items.push({ id: 'logout', name: '@(Logout)', icon: 'ti ti-power-off red' });
				opt.callback = function(item) {
					switch (item.id) {
						case 'terminal':
							SETTER('websocket/send', { TYPE: 'terminal_open' });
							break;
						case 'alarms':
						case 'users':
						case 'settings':
							SET('common.page', item.id);
							break;
						case 'console':
							TOGGLE('common.showlogs');
							break;
						case 'profile':
							SET('common.form', 'profileform');
							break;
						case 'logout':
							DAPI('logout @showloading', function() {
								location.reload();
							});
							break;
					}

				};
				SETTER('menu/show', opt);
			};

			exports.logout = function() {
				console.log('tu som');
				exports.tapi('logout @showloading', function() {
					location.reload();
				});
			};

			exports.hidemenu = function() {
				if (common.mainmenu)
					exports.showmenu();
			};

			exports.showmenu = function() {
				SETTER('layout2/show', common.mainmenu ? 'main' : 'left');
				common.mainmenu = !common.mainmenu;
				EMIT('resize');
			};

			exports.sendterminal = function(val, com) {

				var id = com.attrd('id');

				if (val === 'clear') {
					SET('common.spawns.' + id, []);
					com.set('');
					return;
				}

				SETTER('websocket/send', { TYPE: 'terminal_send', id: id, body: val });
				com.set('');
			};

		});

		function makelog(msg) {
			var name = '';
			switch (msg.TYPE) {
				case 'app_create':
					name = '@(Created:)';
					break;
				case 'app_update':
					name = '@(Updated:)';
					break;
				case 'app_restart':
					name = '@(Restarted:)';
					break;
				case 'app_stop':
					name = '@(Stopped:)';
					break;
				case 'app_renew':
					name = '@(SSL renewed:)';
					break;
				case 'app_template':
					name = '@(Uploaded new source-code:)';
					break;
			}
			name && PUSH('^common.logs.apps.items', { type: 'info', body: name + ' ' + msg.url });
		}

		ON('message', function(msg) {
			switch (msg.TYPE) {
				case 'sysinfo':
				case 'appsinfo':

					if (msg.TYPE === 'sysinfo')
						msg.live = { cpu: msg.cpu, memory: (msg.memused / msg.memtotal) * 100 >> 0, storage: (msg.hddused / msg.hddtotal) * 100 >> 0 };

					SET(msg.TYPE, msg);

					if (msg.TYPE === 'appsinfo')
						EXEC(true, 'apps/refreshstats_force');

					break;
				case 'appinfo':
					SET('appsinfo.app' + msg.id, msg);
					EXEC('apps/refreshstats');
					break;

				case 'refresh':
					EXEC('apps/refresh');
					break;

				case 'apps_restart':
					break;
				case 'app_create':
				case 'app_update':
				case 'app_restart':
				case 'app_stop':
				case 'app_template':
					makelog(msg);
					break;

				case 'terminal_close':
					var index = common.windows.findIndex('id', msg.id);
					if (index !== -1) {
						common.windows.splice(index, 1);
						UPD('common.windows');
					}
					break;

				case 'terminal_data':
					var val = Thelpers.encode(msg.body);

					if (msg.send)
						val = '<b>$ ' + val + '</b>';

					PUSH('common.spawns.' + msg.id, val + '\n');
					break;

				case 'terminal_open':
					AJAX('GET /forms/terminal.html', function(response) {
						var obj = {};
						obj.id = msg.id;
						obj.cachekey = 'spawn';
						obj.offset = { x: 600, y: 400, width: 650, height: 300, minwidth: 200, minheight: 200 };
						obj.title = '<i class="ti ti-pulse ti-spinner red"></i> @(Terminal)';
						obj.html = response.format(msg.id);
						obj.actions = { minimize: true, maximize: true, move: true, resize: true, close: true, autosave: true };
						obj.destroy = function() {
							SETTER('websocket/send', { TYPE: 'terminal_close', id: msg.id });
						};
						PUSH('common.windows', obj);
						PUSH('common.spawns.' + msg.id, '<span class="gray">Welcome to <b>Mini Terminal</b> in Total.js SuperAdmin<br />Mini Terminal does not support canceling of jobs via CTRL+C</span>\n\n');
						SETTER('websocket/send', { TYPE: 'terminal_send', id: msg.id, body: 'pwd' });
					});

					break;
			}
		});

		WATCH('common.logs.apps', function() {
			if (common.showlogs == null)
				SET('common.showlogs', true);
		});

	</script>

</body>
</html>
