@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<title>@{config.name}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="robots" content="all,follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<link href="//cdn.componentator.com/spa.min@18.css" rel="stylesheet" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700&subset=latin,latin-ext" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/codemirror.min.css" />
	<script src="//cdn.componentator.com/spa.min@18.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/codemirror.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/mode/nginx/nginx.min.js"></script>
	@{import('head', 'default.css + ui.css', 'ui.js + helpers.js + syntax.js', 'favicon.ico')}
</head>
<body data---="exec">

	<div data---="loading" class="ui-loading"></div>
	<div data---="websocket__null__url:/;encoder:false"></div>
	<div data---="console__common.showlogs__datasource:common.logs"></div>
	<div data---="mainprogress__common.progress"></div>
	<div data---="shortcuts"></div>

	<div data---="LAZY directory__null__placeholder:@(Search)"></div>
	<div data---="LAZY fileuploader"></div>
	<div data---="LAZY floatinginput"></div>
	<div data---="LAZY message__null__style:2;button:@(Close)"></div>
	<div data---="LAZY approve"></div>
	<div data---="LAZY menu"></div>

	<div data---="notificationspanel__common.shownotifications__exec:common/notifications_load;autoremove:0;clear:common/notifications_clear">
		<script type="text/html">
			<div class="notification">
				<span{{ if type === 'warning' }} class="red"{{ fi }}><i class="far fa-calendar mr5"></i><strong>{{ dtcreated | format('[ts]') }}</strong></span> - {{ body | raw }}
			</div>
		</script>
	</div>

	<div class="ui-dark">
		<div data---="LAZY notifybar"></div>
	</div>

	<div class="mainmenu exec" data-exec="common/showmenu"><i class="fa fa-align-justify"></i></div>

	<div data---="layout2__null__parent:window;marginxs:34" class="invisible">
		<div data-type="left" data-size="230,230,200,0" data-scrollbar="selector:main;margin:0">
			<main>
				<div class="stats" data-scope="sysinfo">
					<div class="padding npb">
						<div data---="gauge__?.cpu__colors:30 #8CC152 25,40 #EDBC5A 35,30 #DB3737 45"></div>
						<div class="center mt10" data-bind="?.processes__text:Thelpers.pluralize(value, @('# processes', '# process', '# processes', '# processes'))__empty"></div>
						<div class="center" data-bind="?.version_server__text__empty"></div>
					</div>
					<div data---="livestats__?.live__max:100;colors:cpu=#E73323,memory=#68B25B,storage=#2E67C5" class="mt10"></div>
					<div class="padding">
						<div class="keyvalue-group">
							<div data-bind="?.live.memory__html__helper:progress"></div>
							<i class="fa fa-microchip" style="color:#68B25B"></i>@(Memory)
						</div>
						<div class="keyvalue">
							<div class="value" data-bind="?.memused__text__helper:filesize"></div>
							<div class="key">@(Used)</div>
						</div>
						<div class="keyvalue">
							<div class="value" data-bind="?.memtotal__text__helper:filesize"></div>
							<div class="key">@(Total)</div>
						</div>
						<hr />
						<div class="keyvalue-group">
							<div data-bind="?.live.storage__html__helper:progress"></div>
							<i class="far fa-hdd" style="color:#2E67C5"></i>@(Storage)
						</div>
						<div class="keyvalue">
							<div class="value" data-bind="?.hddused__text__helper:filesize"></div>
							<div class="key">@(Used)</div>
						</div>
						<div class="keyvalue m">
							<div class="value" data-bind="?.hddtotal__text__helper:filesize"></div>
							<div class="key">@(Total)</div>
						</div>
						<hr />
						<div>@(IP address): <b data-bind="?.ip__text__empty">---</b></div>
						<div class="gray">
							<div>@(Uptime): <span data-bind="?.uptime__text__!helper:uptime__empty"></span></div>
						</div>
					</div>
				</div>

				<br />
				<ul class="nav" data---="selected__common.page__selector:li">
					<li class="exec" data-exec="common/page" data-if="apps"><span data-bind="apps.apps.length__text__show"></span><i class="fa fa-navicon"></i>@(Applications)</li>
					<!-- <li class="exec" data-exec="common/page" data-if="stats"><i class="fa fa-area-chart"></i>@(Statistics)</li>
					<li class="exec" data-exec="common/page" data-if="alarms"><i class="fa fa-bell"></i>@(Alarms)</li>
					<li class="exec" data-exec="common/page" data-if="settings"><i class="fa fa-wrench"></i>@(Settings)</li> -->
					<li class="exec" data-exec="common/notifications">@{if PREF.notifications}<span>@{PREF.notifications}</span>@{fi}<i class="far fa-bell"></i>@(Notifications)</li>
					<li class="exec" data-exec="common/more"><i class="fas fa-plus"></i>@(More)</li>
				</ul>
				<!--
				<hr />
				<ul class="nav">
					<li class="exec b" data-exec="common/profile" data-if="profile"><i class="far fa-user-circle"></i>@{user.name}</li>
					<li class="exec" data-exec="common/logout"><i class="fa fa-power-off red"></i>@(Logout)</li>
				</ul>-->
				<br />
			</main>
		</div>
		<div data-type="main">
			<div data---="part__common.page__if:apps;init:applications_init;url:/parts/apps.html;reload:apps/reload"></div>
			<div data---="part__common.page__if:settings;reload:settings/reload;url:/parts/settings.html"></div>
			<div data---="part__common.page__if:alarms;reload:alarms/reload;url:/parts/alarms.html"></div>
			<div data---="part__common.page__if:users;reload:users/reload;url:/parts/users.html"></div>
			<!--<div data---="part__common.page__if:stats;url:/templates/stats.html"></div>-->
		</div>
	</div>

	<div data---="importer__common.form__if:profileform;url:/forms/profile.html"></div>

	@{json(user, 'userdata')}

	<script>

		var common = { shownotifications: +('@{PREF.notifications || 0}') > 0, unixsocket: '@{CONF.unixsocket}' === 'true' };
		var user = PARSE('#userdata');

		DEF.dateformat = '@(yyyy-MM-dd)';
		DEF.api = '/apiv1/';

		ENV('date', '@(yyyy-MM-dd)');
		ENV('ts', '@(yyyy-MM-dd HH:mm)');

		// Current page
		common.page = 'apps';

		// Current form
		common.form = '';

		common.logs = {};
		common.logs.apps = { icon: 'fas fa-list', name: '@(Applications)', items: [] };

		NAV.clientside('.jR');

		ON('ready', function() {
			SETTER(true, 'loading/hide', 500);
		});

		ON('@flag showloading', function() {
			SETTER('loading/show');
		});

		ON('@flag hideloading', function() {
			SETTER('loading/hide', 1000);
		});

		ON('online', function(is) {
			SETTER('loading/' + (is ? 'hide' : 'show'), is ? 1000 : 'Connecting to the server ...');
		});

		PLUGIN('common', function(exports) {

			exports.refresh = function() {
			};

			exports.page = function(el) {
				SET('common.page', el.attrd('if'));
			};

			exports.more = function(el) {
				var opt = {};
				opt.element = el;
				opt.large = true;
				opt.items = [];

				if (user.sa) {
					opt.items.push({ id: 'alarms', name: '@(Alarms)', icon: 'fas fa-bell' });
					opt.items.push({ id: 'users', name: '@(Users)', icon: 'fas fa-user-friends' });
					opt.items.push({ id: 'settings', name: '@(Settings)', icon: 'fas fa-cog' });
				}

				opt.items.push({ id: 'console', name: '@(Toggle console)', icon: 'fas fa-terminal' });
				opt.items.push('-');
				opt.items.push({ id: 'profile', name: '@(My profile)', icon: 'far fa-user-circle' });
				opt.items.push({ id: 'logout', name: '@(Logout)', icon: 'fas fa-power-off red' });
				opt.callback = function(item) {
					switch (item.id) {
						case 'alarms':
						case 'users':
						case 'settings':
							SET('common.page', item.id);
							break;
						case 'console':
							TOGGLE('common.showlogs');
							break;
						case 'profile':
							SET('common.form', 'profileform');
							break;
						case 'logout':
							DAPI('logout @showloading', function() {
								location.reload();
							});
							break;
					}

				};
				SETTER('menu/show', opt);
			};

			exports.notifications_load = function(next) {
				DAPI('notifications_query', next);
			};

			exports.notifications = function(el) {
				el.find('span').remove();
				TOGGLE('common.shownotifications');
			};

			exports.notifications_clear = function() {
				DAPI('notifications_clear', NOOP);
			};

			exports.hidemenu = function() {
				if (common.mainmenu)
					exports.showmenu();
			};

			exports.showmenu = function() {
				SETTER('layout2/show', common.mainmenu ? 'main' : 'left');
				common.mainmenu = !common.mainmenu;
				EMIT('resize');
			};

		});

		function makelog(msg) {
			var name = '';
			switch (msg.TYPE) {
				case 'app_create':
					name = '@(Created:)';
					break;
				case 'app_update':
					name = '@(Updated:)';
					break;
				case 'app_restart':
					name = '@(Restarted:)';
					break;
				case 'app_stop':
					name = '@(Stopped:)';
					break;
				case 'app_renew':
					name = '@(SSL renewed:)';
					break;
				case 'app_template':
					name = '@(Uploaded new source-code:)';
					break;
			}
			name && PUSH('^common.logs.apps.items', { type: 'info', body: name + ' ' + msg.url });
		}

		ON('message', function(msg) {
			switch (msg.TYPE) {
				case 'sysinfo':
				case 'appsinfo':

					if (msg.TYPE === 'sysinfo')
						msg.live = { cpu: msg.cpu, memory: (msg.memused / msg.memtotal) * 100 >> 0, storage: (msg.hddused / msg.hddtotal) * 100 >> 0 };

					SET(msg.TYPE, msg);

					if (msg.TYPE === 'appsinfo')
						EXEC(true, 'apps/refreshstats_force');

					break;
				case 'appinfo':
					SET('appsinfo.app' + msg.id, msg);
					EXEC('apps/refreshstats');
					break;
				case 'refresh':
					EXEC('apps/refresh');
					break;

				case 'apps_restart':
					break;
				case 'app_create':
				case 'app_update':
				case 'app_restart':
				case 'app_stop':
				case 'app_template':
					makelog(msg);
					break;
			}
		});

		WATCH('common.logs.apps', function() {
			if (common.showlogs == null)
				SET('common.showlogs', true);
		});

	</script>

</body>
</html>
