/*auto*/

/*Source Sans Pro*/
$font   : 'Arial';

html { overflow: hidden; }
html,body { margin: 0; height: 100%; position: relative; }
body { background-color: white; padding: 0; color: gray; font-smoothing: antialiased; overflow-y: scroll; overflow-x: hidden; overflow-scrolling: touch; }

#body { margin: 0 40px 0 80px; }

header { background-color: #F0F0F0; width: 50px; border-bottom: 1px solid #E0E0E0; position: fixed; left: 0; top: 0; bottom: 0; }
header nav { font-size: 20px; position: relative; display: inline-block; font-smoothing: antialiased; width: 100%; }
header nav a { color: gray; border-bottom: 1px solid #E0E0E0; padding: 13px 0 0; display: block; text-align: center; height: 50px; }
header nav a:hover { color: #303030; text-decoration: none; }
header nav .selected { background-color: white; color: black; }
header nav .highlight { background-color: #D0D0D0 !important; color: gray; }
header nav .logoff { background-color: #DA4453; color: white !important; }
header nav .logoff:hover { background-color: #FF505F; }
header nav img { float: right; height: 40px; }

h1 { font-weight: 200; font-family: $font; margin: 0 0 20px 0; padding: 0; color: black; font-size: 30px; }
h1 b { font-weight: 400; }

h2 { font-weight: 400; font-family: $font; margin: 0 0 20px 0; padding: 0; color: gray; font-size: 16px; }
h2 .fa { margin-right: 7px; }
h2 b { font-weight: 700; }

#loading { background: rgba(255,255,255,0.9) url(../img/preloader.gif) no-repeat 50% 50%; position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 15; }
#success { height: 50px; top: 0; left: 0; width: 50px; background-color: #66B258; font-size: 30px; line-height: 0; position: fixed; z-index: 20; color: white; text-align: center; padding-top: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); display: none; }

.padding { padding: 20px; }
.m { margin-bottom: 20px; }
.cl { clear: both; }
.center { text-align: center; }

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mr5 { margin-right: 5px !important; }
.ml5 { margin-left: 5px !important; }
.mr15 { margin-right: 15px !important; }
.nmb { margin-bottom: 0 !important; }
.nmr { margin-right: 0 !important; }
.nmt { margin-top: 0 !important; }
.npt { padding-top: 0 !important; }
.npb { padding-bottom: 0 !important; }

.bg-smoke { background-color: #F8F8F8; }
.b { font-weight: bold; }
.silver { color: #AAB2BD; }
.red { color: #D63B32; }
.blue { color: #377BB5; }
.black { color: black; }
.gray { color: gray; }
.green { color: #68B25B !important; }
.right { text-align: right; }

footer { border-top: 1px solid #E0E0E0; padding: 30px 0 0; text-align: center; font-size: 12px; background-color: #F8F8F8; height: 100px; }
table td { vertical-align: middle !important;}
.table-small td { padding: 3px 10px !important; font-size: 12px; }

.fs11 { font-size: 11px !important; }
.fs10 { font-size: 10px !important; }
.help { font-size: 11px; color: #AAB2BD; margin-top: 7px; line-height: 13px; }
.help .fa { margin-right: 5px; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 2px 5px; border-radius: 4px; }

.legend { margin-bottom: 10px; }
.legend .fa { width: 14px; vertical-align: middle; margin-right: 5px; }
.legend label { margin-right: 15px; vertical-align: middle; }

hr { border-color: #E0E0E0; }
canvas { display: block; }

.linkbutton { display: block; font-size: 12px; padding: 6px 0; border-radius: 3px; text-decoration: none; background-color: #E9E9E9; border: 1px solid #E0E0E0; color: gray; font-size: 11px; text-align: center; margin-bottom: 15px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; transition: 0.5s all; }
.linkbutton:hover { background-color: #E0E0E0; border-color: #D0D0D0; text-decoration: none; }
.linkbutton .fa { margin-right: 7px; }
.ui-error { margin: 0 20px 20px !important; }

.tabmenu { border-bottom: 1px solid #E0E0E0; padding: 0; margin: 0; display: block; position: relative; font-size: 12px; margin-bottom: 20px; }
.tabmenu li { position: relative; display: inline-block; border: 1px solid white; border-bottom: 0; margin: 0 0 0 10px; padding: 0; border-radius: 3px 3px 0 0; background-color: #F8F8F8; text-align: center; padding: 8px 10px; color: gray; cursor: pointer; min-width: 120px; }
.tabmenu li:first-child { margin-left: 0; }
.tabmenu .selected { background-color: white; top: 1px; border-color: #E0E0E0; color: black; }
.tabmenu .fa { margin-right: 8px; }

.mainmenu { display: none; height: 40px; }
.mainmenu-logo { float: left; margin-top: 13px; font-size: 12px; color: gray; text-shadow: 1px 1px 1px white; background-color: white; border-radius: 10px; padding: 1px 12px; }
.mainmenu-button { font-size: 25px; margin-top: 4px; color: gray; float: right; }
.mainmenu-visible { display: block; }

.applications .items > table { width: 100%; }
.applications .items > table td { border-top: 1px solid #F0F0F0; padding: 0; font-size: 12px; }
.applications .items > table tr:first-child td { border-top: 0 !important; }
.applications .items > table tr:hover { background-color: #F8F8F8; }
.applications .items > table table { width: 100%; }
.applications .items > table table td { padding: 2px 0; font-size: 10px; text-align: right; border: 0; }
.applications td button { outline: 0; background-color: transparent; border: 0; font-size: 12px; width: 20px; height: 20px; padding: 0; color: silver; }
.applications td button:hover { color: black; background-color: #E0E0E0; }
.applications td button:last-child { color: #E9573F; }
.applications .items { border: 1px solid #F0F0F0; padding: 8px; margin-bottom: 20px; border-radius: 4px; }
.applications .first { padding-left: 5px !important; }
.applications .name { color: gray; display: block; width: 250px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.applications .ssl { background-color: #68B25B; padding: 1px 3px; border-radius: 3px; font-variant: normal; font-size: 9px; text-transform: uppercase; margin-right: 5px; color: white; vertical-align: middle; line-height: 0; }
.applications .cluster { margin-left: 5px; font-size: 10px;}
.applications .name:hover { text-decoration: none; }
.applications .progress { float: right; width: 30px; height: 5px; background-color: #F0F0F0; margin: 5px 0 0 5px; }
.applications .progress > div { height: 5px; }
.applications .category { font-size: 16px; font-weight: bold; font-family: $font; margin-bottom: 10px; color: black; font-weight: 400; }
.applications .category span { float: right; font-size: 12px; margin: 5px 0 0 0; color: #A0A0A0; }
.applications .category .fa { margin-right: 7px; }
.applications .offline { text-align: center; background-color: #DA4453; color: white; margin: 0 0 0 10px; font-size: 9px; border-radius: 10px; }
.applications .name .fa-bug { display: none; }
.applications .error .name { color: #DA4453 !important; }
.applications .error .name .fa-bug { display: block; float: left; margin: 3px 5px 0 0; }
.applications .error .fa-search { color: #DA4453; }
.applications .td-name { width: 250px; }
.applications .stopped .name { color: #A0A0A0 !important; }
.applications .stopped .ssl { background-color: #DA4453; }
.applications .td-mode { width: 70px; text-align: right; }
.applications .td-port { width: 50px; text-align: right; }
.applications .td-buttons { width: 145px; text-align: right; }
.applications .ttd-files { width: 45px; text-align: right; }
.applications .ttd-memory { width: 85px; }
.applications .ttd-connections { width: 45px; text-align: right; }
.applications .ttd-cpu { width: 75px; text-align: right; }
.applications .ttd-hdd { width: 60px; color: #AAB2BD; }
.tr-subprocess .td-name { font-size: 11px !important; padding-left: 20px !important; background-image: url(../img/line-continue.png); background-repeat: no-repeat; background-position: 0 -1px; }
.tr-subprocess-last .td-name { background-image: url(../img/line.png) !important; }

.operations { margin: 0; }
.operations button { outline: 0; background-color: #F0F0F0; border: 0; font-size: 14px; width: 14.2%; height: 36px; border-left: 1px solid #E0E0E0; }
.operations button:hover { color: black; background-color: #E0E0E0; }
.operations button:first-child { border-radius: 4px 0 0 4px; border-left: 0; }
.operations button:last-child { border-radius: 0 4px 4px 0; }

@keyframes animate {
	0% { transform: scale(0.8); }
	50% { transform: scale(1); }
	100% { transform: scale(0.8); }
}

@media(max-width: 996px) {
	header .photo { display: none; }
	header nav { display: none; }
	.mainmenu { display: block; }
	header { position: relative; width: 100%; top: 0; left: 0; right: auto; bottom: auto; min-height: 45px; height: auto; margin-bottom: 15px; padding: 0 20px; }
	#success { top: 2px; left: 2px; }
	header nav { font-size: 20px; display: none; float: none; margin: 10px 0 10px; padding-bottom: 15px; }
	header nav a { min-width: 20% !important; height: 55px; padding-top: 12px; border-right: 0; background-color: white; border-left: 1px solid #F0F0F0; position: relative; display: inline-block; }
	header nav .logoff { float: none; min-width: 25%; background-color: #E7331F !important; }
	header nav .logoff:hover { background-color: #E74839 !important; }
	header nav .selected { background-color: black !important; color: white; }
	header nav .highlight { background-color: #E9E9E9 !important; }
	#body { margin: 0; }
}

@media(max-width: 767px) {
	header nav a { min-width: 33% !important; height: 55px; padding-top: 12px; border-right: 0; background-color: white; border-left: 1px solid #F0F0F0; position: relative; display: inline-block; }
	.ui-form-buttons button[name="submit"] { width: 140px; }
	.table-xs thead { display: none; }
	.table-xs tbody { margin-top: 15px; display: block; }
	.table-xs td { display: block; }
	.table-xs td:before { content: attr(data-label); font-weight: bold; border-right: 1px solid #E0E0E0; width: 100px; float: left; margin-right: 10px; }
	.table-xs tr { margin-bottom: 20px; display: block; }
	.atd { display: block; border: 0; }
	.tr { display: block; border-bottom: 1px solid #E0E0E0; padding: 10px 0; }
	.atd table { border: 1px solid #F0F0F0; margin-bottom: 10px; background-color: #F8F8F8; }
	.atd table .progress { background-color: #E0E0E0; }
	.applications .td-buttons { width: 100%; text-align: left; }
	.applications .td-mode { text-align: left; }
	.applications .td-name { padding-bottom: 10px !important; font-size: 16px !important; }
	.applications td button { width: 14.2%; height: 30px; border-left: 1px solid #F0F0F0; }
	.applications td button:first-child { border-left: 0; }
	.applications .ttd-memory { width: 25%; }
	.applications .ttd-connections { width: 25%; text-align: center !important; }
	.applications .ttd-cpu { width: 25%; text-align: right; }
	.applications .ttd-hdd { width: 25%; color: #AAB2BD; }
}

.stats { font-size: 11px; height: 18px; }
.stats > div:first-child { float: left; font-size: 11px; margin-top: 1px; }
.stats > div:last-child { float: right; color: black; }
.caption { font-size: 12px; margin-bottom: 10px; font-weight: bold; font-family: $font; color: black; }
.caption .fa { margin-right: 5px; }
