<div class="filter npb">
	<div class="container">
		<div class="caption"><i class="fa fa-bell-o"></i>@(Alarms)</div>
		<nav class="buttons">
			<a href="javascript:void(0)" class="exec" data-exec="alarms_new"><i class="fa fa-plus-circle"></i><span>@(Add a new alarm)</span></a>
		</nav>
	</div>
</div>
<div class="container">
	<div data-jc="grid" data-jc-path="alarms.grid" data-pagination-path="alarms.filter.page" data-jc-id="alarms.grid" data-max="auto" data-page="@(Page: #)" data-pages="@(# pages,# page,# pages,# pages)" data-items="@(# items,# item,# items,# items)" data-empty="@(Database does not contain any alarms.)">
		<script type="text/html">
		<tr>
			<td class="fs11{{ if !isenabled }} red{{ fi }}"><i class="fa mr5 {{ if isenabled }}green fa-circle{{ else }}red fa-circle-o{{ fi }}"></i>{{ name }}<span class="silver ml5">({{ if debug }}release, debug{{ else }}release{{ fi }})</span></td>
			<td style="width:300px" class="fs11 active"><i class="fa fa-globe mr5"></i>{{ idapplication | alarms-application }}</td>
			<td style="width:300px" class="fs11"><i class="fa fa-fire-extinguisher mr5"></i>{{ | alarms-contact }}</td>
			<td style="width:80px" class="ui-right">
				<button name="edit" title="@(Edit)"><span class="fa fa-pencil"></span></button>
				<button name="remove" title="@(Remove)"><span class="fa fa-times"></span></button>
			</td>
		</tr>
		</script>
	</div>
</div>
<div data-jc="importer" data-jc-path="common.form" data-jc-config="if:value === 'alarms';url:/templates/alarms-form.html"></div>

<script>

	var alarms = {};

	alarms.filter = { page: 1 };
	alarms.form = { id: null };
	alarms.grid = {};

	ON('#alarms.grid', function(component) {

		// Max items per page
		alarms.filter.max = component.max;
		alarms_reload(function() {
			alarms_refresh(true);
		});

		component.click = function(index, row, button) {
			var loading = FIND('loading');
			switch ($(button).attr('name')) {
				case 'edit':
					SET('alarms.form', row, true);
					SET('common.form', 'alarms');
					break;
				case 'remove':
					SETTER('confirm', 'confirm', '@(Do you want to remove) <b>{0}</b>?'.format(row.name), ['@(OK)', '@(Cancel)'], function(index) {
						if (index)
							return;
						loading.show();
						AJAX('DELETE /api/alarms/', { id: row.id }, function() {
							loading.hide(500);
							alarms_refresh();
						});
					});
					break;
			}
		};
	});

	function alarms_new() {
		alarms.form.id = null;
		DEFAULT('alarms.form.*', true);
		SET('common.form', 'alarms');
	}

	// Method refreshes grid
	function alarms_refresh(reset) {
		if (reset)
			alarms.filter.page = 1;
		AJAX('GET /api/alarms/', alarms.filter, 'alarms.grid');
	}

	// Watchs changes in user filter
	WATCH('alarms.filter.*', function(path, value) {
		!NOTMODIFIED('alarms.filter', alarms.filter) && alarms_refresh(path !== 'users.filter.page');
	});

	function alarms_reload(callback) {
		AJAX('GET /api/apps/', function(response) {
			var REG_CLEANURL = /^(http|https)\:\/\//g;
			response.sort(function(a, b) {
				var an = a.url.replace(REG_CLEANURL, '').substring(0, 15).toLowerCase();
				var bn = b.url.replace(REG_CLEANURL, '').substring(0, 15).toLowerCase();
				return an.localeCompare(bn);
			});
			SET('alarms.applications', response);
			callback && callback();
		});
	}

	Tangular.register('alarms-application', function(value) {
		if (!value)
			return '@(All applications)';
		var app = alarms.applications.findItem('id', value);
		return app ? '<a href="{0}" target="_blank">{0}</a>'.format(app.url) : '';
	});

	Tangular.register('alarms-contact', function() {
		var builder = [];
		var tmp = this.phone.join(', ');
		tmp && builder.push(tmp);
		tmp = this.email.join(', ');
		tmp && builder.push(tmp);
		return builder.join(', ');
	});

</script>