<div data-jc="form" data-title="@(Edit subprocess)" data-jc-path="common.form" data-if="value === 'applications-subprocess'" data-width="900px" data-jc-id="applications.subprocess" data-autocenter="false" class="hidden">
	<div class="padding">

		<div data-jc="visible" data-jc-path="applications.subprocess.id" data-if="!value" class="hidden">
			<div class="silver">@(When you add the subprocess then you have to upload it as <b>package</b> via <i class="fa fa-cloud-upload"></i> button in application's grid. The cluster doesn't work in <b>debug mode</b>.)</div>
			<br />
		</div>

		<div class="row">
			<div class="col-md-10">
				<div data-jc="disable" data-jc-path="applications.subprocess.id" data-if="value ? true : false">
					<div data-jc="dropdown" data-jc-path="applications.subprocess.url" data-required="true" data-jc-value="''" data-empty="" data-source="applicationssubprocess">@(Choose existing application)</div>
					<br />
					<div data-jc="textbox" data-jc-path="applications.subprocess.path" data-required="true" data-placeholder="/eshop/" data-jc-value="''">@(Path)</div>
				</div>
				<br />
				<div data-jc="checkbox" data-jc-path="applications.subprocess.debug" class="inline b mr5 black">@(Enables debug mode)</div>
				<div class="inline middle mr15"><span class="badge badge-red">@(debug)</span></div>
				<div data-jc="checkbox" data-jc-path="applications.subprocess.npm" class="inline mr5">@(Performs NPM install)</div>
				<div class="inline middle"><span class="badge badge-blue">package.json</span></div>
			</div>
			<div class="col-md-2">
				<div data-jc="textbox" data-jc-path="applications.subprocess.port" data-required="true" data-jc-value="''" data-align="center" data-maxlength="4">@(Port)</div>
			</div>
		</div>
	</div>

	<div class="padding bg-smoke npb" style="padding-top:30px">
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="textarea" data-jc-path="applications.subprocess.notes" data-placeholder="@(e.g. Processes data)" data-jc-value="''" data-height="50px">@(Notes)</div>
			</div>
		</div>
		<br />
	</div>
	<div class="padding npb mt10">
		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="applications.subprocess.cluster" data-jc-type="number" data-maxlength="4" data-align="center" data-jc-value="1" data-increment="true">@(Cluster)</div>
			</div>
			<div class="col-md-9 m">
				<br class="hidden-sm hidden-xs" />
				<div class="help"><i class="fa fa-warning"></i>@(The application must be optimized for the cluster. The cluster mode is enabled when the thread count is greater than <b>one thread</b>. The cluster doesn't work in <b>debug mode</b>.)</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="applications.subprocess.ddos" data-jc-type="number" data-maxlength="4" data-align="center" data-increment="true">@(DDOS protection)</div>
			</div>
			<div class="col-md-9 m">
				<br class="hidden-sm hidden-xs" />
				<div class="help"><i class="fa fa-warning"></i>@(This settings is a prevention for DDOS attacks. Nginx tracks all request according to the binary IP address and when the requests exceed a limit then the Nginx responds via 503 error for other requests.)</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="applications.subprocess.memory" data-jc-type="number" data-maxlength="4" data-align="center" data-increment="true" data-placeholder="@(auto)" data-jc-value="null">@(Memory limit)</div>
			</div>
			<div class="col-md-9 m">
				<br class="hidden-sm hidden-xs" />
				<div class="help"><i class="fa fa-warning"></i>@(This property can increase the maximum size of memory for this application. The value has to be in <code>MB</code> and default value is <code>1000 MB</code> for 64-bit systems and <code>512 MB</code> for 32-bit systems.)</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="padding npb">
		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="applications.subprocess.size" data-jc-type="number" data-maxlength="5" data-align="center" data-icon="fa-cloud-upload" data-placeholder="e.g. 5" data-increment="true">@(Maximum upload size (MB))</div>
			</div>
			<div class="col-md-6 m">
				<div data-jc="textbox" data-jc-path="applications.subprocess.startscript" data-maxlength="50" data-placeholder="index.js" data-icon="fa-hourglass-start">@(Custom start script)</div>
				<div class="help">@(We do not recommend to use a custom start script. Script can't have name <code>debug.js</code> or <code>release.js</code>.)</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="padding">
		<div data-jc="textboxlist" data-jc-path="applications.subprocess.allow" class="m" data-maxlength="50" data-placeholder="@(e.g. 129.34.33.33 and press enter)" data-icon="fa-globe" data-jc-value="[]">@(Allowed IP addresses)</div>
		<div data-jc="textboxlist" data-jc-path="applications.subprocess.disallow" class="m" data-maxlength="50" data-placeholder="@(e.g. 129.34.33.33 and press enter)" data-icon="fa-ban" data-jc-value="[]">@(Blocked IP addresses)</div>
	</div>
	<div data-jc="error" data-jc-path="applications.subprocess.response"></div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="applications.subprocess">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<script>

	var applicationssubprocess = [];

	function applications_subprocess_refresh() {

		var arr = [];

		applications.grid.forEach(function(item) {
			!item.subprocess && arr.push(item.url);
		});

		arr.sort();
		SET('applicationssubprocess', arr);
		!applications.id && SET('applications.subprocess', { path: '', cluster: 1, port: 'auto', ddos: 20, debug: false, allow: [], disallow: [], size: 5, subprocess: true }, true);
	}

	ON('#applications.subprocess', function(component) {
		component.submit = function(hide) {
			var loading = FIND('loading');
			loading.show();
			AJAX('POST /api/apps/', applications.subprocess, function(response) {

				if (isError(arguments))
					return;

				loading.hide(500);

				// Error handling
				SET('applications.form.response', response);
				if (response instanceof Array)
					return;

				hide();
				setTimeout(applications_refresh, 100);
				success();

				if (applications.id) {
					delete applications.merrors[applications.id];
					return;
				}

				applications.id = response.value;
				applications.id && SET('common.form', 'applications-upload', 1000);
			});
		};
	});

</script>
