<div data-jc="form" data-jc-path="common.form" data-jc-config="if:applications;width:900;title:@(Edit application)" data-jc-id="applications.form" class="hidden">
	<div class="padding">

		<div data-b="applications.form.id" data-b-visible="!value" class="hidden">
			<div class="silver">@(When you add the application, you have to upload it as <b>package</b> via <i class="fa fa-cloud-upload"></i> button in application's grid.)</div>
			<br />
		</div>

		<div class="row">
			<div class="col-md-10">
				<div data-jc="textbox" data-jc-path="applications.form.url" data-jc-value="''" data-jc-config="placeholder:https\://www.totaljs.com;required:true;type:url">@(URL address)</div>
				<div class="help"><i class="fa fa-info-circle"></i>@(The URL address must contain the protocol <code>http</code> or <code>https</code>.)</div>
			</div>
			<div class="col-md-2">
				<div data-jc="textbox" data-jc-path="applications.form.port" data-jc-value="''" data-jc-config="align:center;maxlength:4;required:true">@(Port)</div>
			</div>
		</div>
		<hr />
		<div data-jc="checkbox" data-jc-path="applications.form.debug" class="inline b mr5 black">@(Enable debug mode)</div>
		<div class="inline middle mr15"><span class="badge badge-red">@(debug)</span></div>
		<div data-jc="checkbox" data-jc-path="applications.form.npm" class="inline mr5">@(Perform NPM install)</div>
		<div class="inline middle mr15"><span class="badge badge-blue">package.json</span></div>
		<div data-jc="checkbox" data-jc-path="applications.form.accesslog" class="inline mr15">@(Enable access logging)</div>
		<div data-jc="checkbox" data-jc-path="applications.form.backup" class="inline">@(Enable backing up)</div>
	</div>
	<div data-b="applications.form.url" data-b-visible="value && value.substring(0, 8) === 'https://'" class="hidden">
		<div class="padding bg-smoke" style="border-bottom:1px solid #E0E0E0">
			<div><span class="badge badge-green mr5">@(security)</span><b>@(SSL configuration)</b></div>
			<div class="help nmt">@(Type a path if you want to prevent <b>auto-configure</b>.)</div>
			<br />
			<div class="row">
				<div class="col-md-6 m">
					<div data-jc="textbox" data-jc-path="applications.form.ssl_key" data-jc-config="icon:key;placeholder:@(auto configure)">@(SSL key)</div>
				</div>
				<div class="col-md-6 m">
					<div data-jc="textbox" data-jc-path="applications.form.ssl_cer" data-jc-config="placeholder:@(auto configure)">@(SSL certificate)</div>
				</div>
			</div>
			<div data-b="applications.form.ssl_key" data-b-visible="!value && applications.form.id">
				<div data-jc="checkbox" data-jc-path="applications.form.renew" class="red b">@(Renew the certificate)</div>
			</div>
			<div data-b="applications.form.sslexpire" data-b-visible="value && value.expire">
				<div data-jc="template" data-jc-path="applications.form.sslexpire" class="help nmt">
					<script type="text/html">
						@(The certificate expires:) <b class="badge badge-silver">{{ expire | format('@(yyyy-MM-dd HH:mm)')}}</b> {{ expire | expiredays(@('# days', '# day', '# days', '# days', 'expired')) }}
					</script>
				</div>
			</div>
		</div>
	</div>
	<div class="padding bg-yellow" style="padding-top:30px">
		<div data-jc="textbox" data-jc-path="applications.form.git" data-jc-value="''" data-jc-config="icon:github;maxlength:500;placeholder:https\://@(USERNAME)\:@(PASSWORD)@github.com/totaljs/eshop">@(URL address to Git repository)</div>
		<div class="help" style="margin-bottom:10px">@(In the form: <code>https://USERNAME:PASSWORD@github.com/totaljs/eshop</code>)</div>
	</div>
	<div class="padding bg-smoke npb" style="padding-top:30px">
		<h2><i class="fa fa-folder"></i>@(Categorization)</h2>
		<div class="row">
			<div class="col-md-6 m">
				<div data-jc="dropdown" data-jc-path="applications.form.category" data-jc-config="datasource:applications.categories;value:name;empty:">@(Existing category)</div>
			</div>
			<div class="col-md-6 m">
				<div data-jc="textbox" data-jc-path="applications.form.category" data-required="true" data-placeholder="@(e.g. E-commerce)">@(Category)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="textarea" data-jc-path="applications.form.notes" data-jc-value="''" data-jc-config="height:50;placeholder:@(e.g. Hosting ends january 2029)">@(Notes)</div>
			</div>
		</div>
		<br />
	</div>
	<div class="padding npb mt10">

		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="applications.form.cluster" data-jc-value="1" data-jc-config="align:center;increment:true;maxlength:4;type:number">@(Cluster)</div>
			</div>
			<div class="col-md-9 m">
				<br class="hidden-sm hidden-xs" />
				<div class="help"><i class="fa fa-warning"></i>@(The application must be optimized for the cluster. The cluster mode is enabled when the thread count is greater than <b>one thread</b>. The cluster doesn't work in <b>debug mode</b>.)</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="applications.form.ddos" data-jc-config="align:center;increment:true;maxlength:4;type:number">@(DDOS protection)</div>
			</div>
			<div class="col-md-9 m">
				<br class="hidden-sm hidden-xs" />
				<div class="help"><i class="fa fa-warning"></i>@(This setting is a prevention for DDOS attacks. Nginx tracks all requests according to the binary IP address and when the requests exceed a limit, Nginx responds via 503 error for other requests.)</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="applications.form.memory" data-jc-value="null" data-jc-config="align:center;increment:true;maxlength:4;placeholder:@(auto);type:number">@(Memory limit)</div>
			</div>
			<div class="col-md-9 m">
				<br class="hidden-sm hidden-xs" />
				<div class="help"><i class="fa fa-warning"></i>@(This property can increase the maximum size of memory for this application. The value has to be in <code>MB</code> and default value is <code>1000 MB</code> for 64-bit systems and <code>512 MB</code> for 32-bit systems.)</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="padding npb">
		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="applications.form.priority" data-jc-config="align:center;increment:true;maxlength:3;type:number">@(Process priority)</div>
				<div class="help">@(Process with highest priority is executed as first.)</div>
			</div>
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="applications.form.delay" data-jc-config="align:center;increment:true;maxlength:5;type:number">@(Delay (ms))</div>
				<div class="help">@(Delay before executing the process. Other requests will wait.)</div>
			</div>
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="applications.form.size" data-jc-config="align:center;icon:cloud-upload;increment:true;maxlength:5;placeholder:e.g. 5;type:number">@(Maximum upload size (MB))</div>
				<div class="help">@(Sets the maximum size/length of the request body.)</div>
			</div>
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="applications.form.proxytimeout" data-jc-config="align:center;icon:sign-out;increment:true;maxlength:5;placeholder:e.g. 600;type:number">@(Request timeout in seconds)</div>
				<div class="help">@(This option solves a problem with disconnecting of WebSocket. I recommed to use <code>600</code>.)</div>
			</div>
		</div>
		<hr />
		<br />
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="textbox" data-jc-path="applications.form.startscript" data-jc-config="icon:hourglass-start;maxlength:50;placeholder:index.js">@(Custom start script)</div>
				<div class="help">@(We do not recommend to use a custom start script. App directory can't contain these files <code>debug.js</code> and <code>release.js</code>. <i class="fa fa-lightbulb-o"></i>First argument is a <code>port number</code>.)</div>
			</div>
		</div>
	</div>
	<div class="padding">
		<div data-jc="textboxlist" data-jc-path="applications.form.redirect" class="m" data-jc-value="[]" data-jc-config="icon:arrow-left;maxlength:50;placeholder:@(e.g. www.totaljs.com and press enter)">@(Redirects)</div>
		<div data-jc="textboxlist" data-jc-path="applications.form.allow" class="m" data-jc-value="[]" data-jc-config="icon:globe;maxlength:50;placeholder:@(e.g. 129.34.33.33 and press enter)">@(Allowed IP addresses)</div>
		<div data-jc="textboxlist" data-jc-path="applications.form.disallow" class="m" data-jc-value="[]" data-jc-config="icon:ban;maxlength:50;placeholder:@(e.g. 129.34.33.33 and press enter)">@(Blocked IP addresses)</div>
	</div>
	<hr class="nmt" />
	<div class="padding">
		<div data-jc="codemirror" data-jc-path="applications.form.nginx" data-jc-config="height:200;icon:code;type:nginx">@(Custom NGINX configuration)</div>
		<br />
	</div>
	<div data-jc="error" data-jc-path="applications.form.response"></div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="applications.form">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<script>

	function applications_form_refresh() {
		!applications.id && SET('applications.form', { cluster: 1, port: 'auto', ddos: 20, debug: false, redirect: [], allow: [], disallow: [], size: 5, delay: 0, priority: 0, backup: true, proxytimeout: 600 }, true);
	}

	ON('#applications.form', function(component) {
		component.submit = function(hide) {
			SETTER('loading', 'show');
			var port = applications.id ? applications.form.port : 0;
			applications.waiting = true;
			AJAX('POST /api/apps/', applications.form, function(response) {

				applications.waiting = false;
				SETTER('loading', 'hide', 1000);

				// Error handling
				SET('applications.form.response', response);
				if (response instanceof Array)
					return;

				hide();
				setTimeout(applications_refresh, 100);

				if (port)
					delete applications.sslexpire[port];

				if (applications.id)
					delete applications.merrors[applications.id];

				success();

				if (applications.id)
					return;

				applications.id = response.value;
				applications.id && SET('common.form', 'applications-upload', 1000);
			});
		};
	});

	Tangular.register('expiredays', function(value, zero, one, two, many, expired) {
		var diff = value.getTime() - Date.now();
		return diff >= 0 ? '(' + Math.ceil(diff / 86400000).pluralize(zero, one, two, many) + ')' : '<b class="red">{0}</b>'.format(expired);
	});

	WATCH('applications.form.url', function(path, value) {
		if (!value)
			return;
		var index = value.indexOf('/', 10);
		index !== -1 && SET('applications.form.url', value.substring(0, index));
	});

</script>
