<div class="filter npb">
	<div class="container">
		<div class="caption"><i class="fa fa-cogs"></i>@(Settings)</div>
	</div>
</div>
<div class="container">
	<br />
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-4 m">
			<div data-jc="textbox" data-jc-path="settings.intervalconsumption" data-jc-config="align:center;increment:true;maxlength:7;required:true;type:number">@(Consumption interval)</div>
			<div class="help">@(In milliseconds.)</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-4 m">
			<div data-jc="textbox" data-jc-path="settings.intervalanalyzator" data-jc-config="align:center;increment:true;maxlength:7;required:true;type:number">@(Analyzator interval)</div>
			<div class="help">@(In milliseconds.)</div>
		</div>
		<div class="col-lg-8 col-md-6 col-sm-4 m">
			<div data-jc="textbox" data-jc-path="settings.templates" data-jc-config="placeholder:https\://cdn.totaljs.com/superadmin.json;type:url">@(URL to application's templates)</div>
			<div class="help">@(Type a valid URL address.)</div>
		</div>
	</div>
	<div data-jc="checkbox" data-jc-path="settings.autorenew">@(<b>Auto-renew</b> SSL certificates)</div>
	<br />
</div>
<div class="bg-smoke m">
	<div class="container">
		<br />
		<br />
		<div class="row">
			<div class="col-md-4 m">
				<div class="bg-form">
					<h2 class="b black nmb"><i class="fa fa-mobile"></i>@(SMS settings)</h2>
					<p class="fs12 m">@(<b>SuperAdmin</b> uses Nexmo SMS API which sends cheap SMS. Obtain your <b>key</b> and <b>secret</b> on <a href="https://www.nexmo.com" target="_blank">www.nexmo.com</a>.)</p>
					<div class="m" data-jc="textbox" data-jc-path="settings.nexmokey" data-jc-config="placeholder:@(Type a key)">@(Key)</div>
					<div class="m" data-jc="textbox" data-jc-path="settings.nexmosecret" data-jc-config="placeholder:@(Type a secret)">@(Secret)</div>
					<div data-jc="textbox" data-jc-path="settings.nexmosender" data-jc-config="placeholder:@(Type a sender's name)">@(Sender name)</div>				</div>
			</div>
			<div class="col-md-8 m">
				<div class="bg-form">
					<h2 class="black nmb"><i class="fa fa-envelope"></i>@(Email addresses for daily summarization)</h2>
					<p class="fs12 m">@(<b>SuperAdmin</b> creates important statistics every day and it can send a daily report on entered email addresses when it creates these statistics.)</p>
					<div data-jc="textboxlist" data-jc-path="settings.emailsummarization" data-jc-config="placeholder:@(Type an email address)">@(Email addresses)</div>
					<br />
					<h2 class="black nmb"><i class="fa fa-lock"></i>@(Access tokens)</h2>
					<p class="fs12 m">@(Access tokens are used for 3rd party applications (e.g. mobile applications or services), your application can connect to <b>SuperAdmin</b> easily via <b>x-token</b> header.)</p>
					<div data-jc-id="tokens" data-jc="keyvalue" data-jc-path="settings.tokens" data-jc-config="placeholderkey:@(Type an application's name);placeholdervalue:@(Type a token and press enter)">@(Allowed applications)</div>
				</div>
			</div>
		</div>
	</div>
	<br />
</div>
<div class="container">
	<h2 class="b black"><i class="fa fa-copy"></i>@(FTP backup)</h2>
	<div data-jc="checkbox" data-jc-path="settings.allowbackup">@(Allow backup applications)</div>
	<div class="help">@(This method backs up applications which have <b>Backing up</b> enabled.)</div>
	<br />
	<div class="row">
		<div class="col-md-2">
			<div data-jc="textbox" data-jc-path="settings.intervalbackup" data-jc-config="icon:clock-o;align:center;increment:true;maxlength:7;type:number">@(Interval)</div>
			<div class="help">@(In hours.)</div>
		</div>
		<div class="col-md-10">
			<div data-jc="textbox" data-jc-path="settings.ftp" data-jc-config="placeholder:@(ftp\://username\:password@hostname)">@(FTP login)</div>
			<div class="help">@(Your FTP account. If you don't have an FTP account, try:) <a href="https://bakop.com" target="_blank">www.bakop.com</a></div>
		</div>
	</div>
</div>
<br />
<hr />
<br />
<div class="container">
	<div data-jc="error" data-jc-path="settings.response"></div>
	<div class="row">
		<div class="col-md-4 m col-md-offset-4">
			<div data-jc="validation" data-jc-path="settings">
				<button name="submit" class="button b exec" data-exec="settings_save">@(SAVE SETTINGS)</button>
			</div>
		</div>
	</div>
	<br />
</div>

<script>

	var settings = {};

	function settings_refresh() {
		AJAX('GET /api/settings/', function(response) {

			var tokens = {};

			response.tokens.forEach(function(item) {
				tokens[item.name] = item.id;
			});

			response.tokens = tokens;
			SET('settings', response);
		});
	}

	ON('#tokens', function(component) {
		component.binder = function(type, value) {
			return type === 'value' && !value ? GUID(30).toLowerCase() : value;
		};
	});

	function settings_save() {

		var model = CLONE(settings);
		model.tokens = [];

		Object.keys(settings.tokens).forEach(function(key) {
			model.tokens.push({ name: key, id: settings.tokens[key] });
		});

		RESET('settings.*');
		AJAX('POST /api/settings/', model, function(response) {
			response.success && success();
			SET('settings.response', response);
		});
	}

</script>