<div class="filter npb">
	<div class="container">
		<div class="caption"><i class="fa fa-area-chart"></i>@(Monthly Statistics)</div>
		<br />
	</div>
</div>
<div class="container">

	<ul class="tabbuttons" data-jc="tabmenu" data-jc-path="stats.tab">
		<li data-value="cpu"><i class="fa fa-microchip"></i>@(CPU)</li>
		<li data-value="memory"><i class="fa fa-cubes"></i>@(Memory)</li>
		<li data-value="hdd"><i class="fa fa-hdd-o"></i>@(HDD)</li>
		<li data-value="openfiles"><i class="fa fa-folder-o"></i>@(Max. Open Files)</li>
		<li data-value="connections"><i class="fa fa-globe"></i>@(Max. Open Connections)</li>
		<li data-value="restarts"><i class="fa fa-refresh"></i>@(Restarts)</li>
	</ul>
	<br />

	<div data-jc="repeater" data-jc-path="stats.items" class="row" data-jc-id="stats.grid">
		<script type="text/html">
			<div class="col-md-4">
				<div class="statsitem m">
					<div class="statsitem-label"><i class="fa fa-globe"></i>@(URL address:)</div>
					<div class="statsitem-url"><a href="{{ url }}" target="_blank">{{ url }}</a></div>
					<div data-jc="statschart" data-jc-path="$path" class="statsitem-chart"></div>
				</div>
			</div>
		</script>
	</div>
	<br />
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<script>

	WAIT(function() {
		return window.Chart;
	}, function() {
		Chart.defaults.global.legend.display = false;
		stats_refresh();
	});

	MAKE('stats', function() {
		this.tab = this.tab ? this.tab : 'cpu';
	});

	CACHEPATH('stats.tab', '1 month');

	function stats_refresh() {

		var REG_CLEANURL = /^(http|https)\:\/\//g;

		AJAX('GET /api/apps/stats/', function(response) {
			var items = [];
			Object.keys(response).forEach(function(key) {
				var item = {};
				item.url = key;
				item.stats = [];
				Object.keys(response[key]).forEach(function(period) {
					response[key][period].key = period;
					item.stats.push(response[key][period]);
				});
				items.push(item);
			});

			items.sort(function(a, b) {
				var an = a.url.replace(REG_CLEANURL, '').substring(0, 15).toLowerCase();
				var bn = b.url.replace(REG_CLEANURL, '').substring(0, 15).toLowerCase();
				return an.localeCompare(bn);
			});

			SET('stats.items', items);
		});
	}

	COMPONENT('statschart', function() {
		var self = this;
		var ctx;
		var type = stats.tab;
		var chart = null;
		var months = '@(Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec)'.split(',');

		self.readonly();

		self.make = function() {
			self.append('<canvas></canvas>');
			ctx = self.find('canvas').get(0).getContext('2d');
		};

		self.setType = function(name) {
			type = name;
			self.refresh();
		};

		self.setter = function(value, path) {

			var keys = value.stats.map(function(item) {
				return item.key.length === 7 ? (months[parseInt(item.key.substring(5), 10) - 1] + ' ' + item.key.substring(2, 4)) : item.key;
			});

			var values = value.stats.map(function(item) {
				return type === 'memory' || type === 'hdd' ? (item[type] / 1024 / 1024 >> 0) : item[type];
			});

			var label = '';
			var extension = '';
			var max = 100;
			var ticks = 4;

			switch (type) {
				case 'cpu':
					label = '@(CPU)';
					extension = '%';
					max = 100;
					ticks = 6;
					break;
				case 'memory':
					label = '@(Memory)';
					extension = ' MB';
					max = 1000;
					ticks = 4;
					break;
				case 'hdd':
					label = '@(HDD)';
					extension = ' MB';
					max = 5000;
					ticks = 5;
					break;
				case 'openfiles':
					label = '@(Open files)';
					extension = 'x';
					max = 3000;
					ticks = 5;
					break;
				case 'connections':
					label = '@(Open connections)';
					extension = 'x';
					max = 3000;
					ticks = 5;
					break;
				case 'errors':
					label = '@(Errors)';
					extension = 'x';
					max = 100;
					break;
				case 'restarts':
					label = '@(Restarts)';
					extension = 'x';
					max = 100;
					break;
				case 'online':
					label = '@(Online)';
					extension = 'x';
					max = 1000;
					break;
			}

			var data = {
				labels: keys,
				datasets: [
					{
						label: label,
						backgroundColor: 'rgba(255,206,84,0.7)',
						borderColor: '#F6BB42',
						borderCapStyle: 'butt',
						borderDash: [],
						borderDashOffset: 0.0,
						borderWidth: 1.5,
						borderJoinStyle: 'miter',
						pointBorderColor: '#D29612',
						pointBackgroundColor: '#fff',
						pointBorderWidth: 2,
						pointHoverBackgroundColor: '#D29612',
						pointRadius: 5,
						pointHitRadius: 10,
						spanGaps: true,
						data: values
					}
				]
			};

			var options = {
				tooltips: {
					callbacks: {
						label: function(tooltipItem, data) {
							return ' ' + tooltipItem.yLabel + extension;
						}
					}
				},
				scales: {
					xAxes: [
						{
							ticks: {
								fontSize: 11,
								maxTicksLimit: 6
							}
						}
					],
					yAxes: [
						{
							ticks: {
								fontSize: 11,
								max: max,
								fontColor: '#A2A9B4',
								maxTicksLimit: ticks,
								callback: function(label, index, labels) {
									return label + extension;
								}
							}
						}
					]
				}
			};

			chart && chart.destroy();
			chart = new Chart(ctx, { type: 'line', data: data, options: options });
		};
	});

	WATCH('stats.tab', function(path, value) {
		SETTER('loading', 'show');
		FIND('statschart', true).waitFor(function(component, next) {
			component.setType(value);
			setTimeout(next, 2);
		}, function() {
			SETTER('loading', 'hide', 100);
		});
	});

	SCHEDULE('#stats.grid', 'manually', '1 hour', stats_refresh);

</script>