<ui-plugin path="alarms">
	<ui-bind path="?" config="visible" class="invisible">
		<header>
			<label><i class="ti ti-bell"></i>@(Alarms)</label>
			<nav>
				<button class="exec" data-exec="?/create"><i class="ti ti-plus-circle green"></i>@(Create)</button>
			</nav>
		</header>
		<ui-component name="viewbox" config="parent:.ui-layout2-section;visibleY:true;scrollbar:true;margin:45">

			<ui-component name="empty" path="?.items" config="parent:auto">

				<template>@(SuperAdmin does not contain any alarms)</template>

				<ui-bind path="?.items" config="template" class="listing padding">
					<script type="text/html">
						{{ foreach m in value }}
						<figure data-id="{{ m.id }}">
							<div class="border{{ if !m.isenabled }} disabled{{ fi }}">
								<div class="header npb">
									<div class="b{{ if !m.isenabled }} strike{{ fi }}">{{ m.name }}</div>
								</div>
								<hr class="nmb" style="margin-top:12px" />
								<div class="padding">
									<div>
										<div class="keyvalue2 exec">
											<div class="value">{{ m.highpriority | checkbox }}</div>
											<div class="key">@(High priority apps only)</div>
										</div>
										<div class="keyvalue2 exec">
											<div class="value">{{ m.debug | checkbox }}</div>
											<div class="key">@(Included debug modes)</div>
										</div>
										<div class="keyvalue2 exec">
											<div class="value">{{ m.email.length | checkbox }}</div>
											<div class="key">@(E-mail notifications)</div>
										</div>
										<div class="keyvalue2 exec">
											<div class="value">{{ m.phone.length | checkbox }}</div>
											<div class="key">@(SMS notifications)</div>
										</div>
										<hr style="margin:10px 0" />
										<div class="keyvalue2 exec">
											<div class="value">{{ m.dtnotified | format('[ts]') | def }}</div>
											<div class="key">@(Last notification)</div>
										</div>
										<div class="keyvalue2 exec">
											<div class="value">{{ m.datecreated | format('[ts]') }}</div>
											<div class="key">@(Created)</div>
										</div>
									</div>
									<div class="buttons small mt10">
										<button class="exec" data-exec="?/update"><i class="ti ti-pencil"></i>@(Edit)</button>
										<button class="exec" data-exec="?/remove"><i class="ti ti-trash red"></i>@(Remove)</button>
									</div>
								</div>
							</div>
						</figure>
						{{ end }}
					</script>
				</ui-bind>
			</ui-component>

		</ui-component>
	</ui-bind>
</ui-plugin>

<ui-component name="importer" path="common.form" config="if:alarmsform;url:/forms/alarm.html"></ui-component>

<script>
	PLUGIN(function(exports) {

		exports.reload = function() {
			EXEC('common/hidemenu');
			exports.refresh();
		};

		exports.refresh = function() {
			exports.tapi('alarms_query @showloading ERROR', 'items @hideloading');
		};

		exports.prepare = function(item) {

			var rules = [];
			var sysrules = [];

			if (!item.type)
				item.type = 'apps';

			if (!item.operator)
				item.operator = 'or';

			if (!item.sysoperator)
				item.sysoperator = 'or';

			rules.push({ enabled: false, label: '@(CPU)', name: 'app.current.cpu', value: 0, comparer: '>', type: 'number', note: '@(Type a value in %)' });
			rules.push({ enabled: false, label: '@(Memory)', name: 'app.current.memory', value: 0, comparer: '>', type: 'number', note: '@(Type a value in MB)' });
			rules.push({ enabled: false, label: '@(Directory size)', name: 'app.current.hdd', value: 0, comparer: '>', type: 'number', note: '@(Type a value in MB)' });
			rules.push({ enabled: false, label: '@(Count of open files)', name: 'app.current.openfiles', value: 0, comparer: '>', type: 'number', note: '@(Type a value)' });
			rules.push({ enabled: false, label: '@(Count of open connections)', name: 'app.current.connections', value: 0, comparer: '>', type: 'number', note: '@(Type a value)' });
			rules.push({ enabled: false, label: '@(Analyzator output)', name: 'app.analyzatoroutput', type: 'string', comparer: '==', value: 'error', items: [{ id: 'error', name: '@(Error)' }, { id: 'obsolete', name: '@(Obsolete code)' }] });

			if (item.rules) {
				for (var i = 0; i < rules.length; i++) {
					var rule = rules[i];
					var m = item.rules.findItem('name', rule.name);
					if (m) {
						rule.enabled = true;
						rule.comparer = m.comparer;
						rule.value = m.value;
					}
				}
			}

			sysrules.push({ enabled: false, label: '@(CPU)', name: 'sys.cpu', value: 0, comparer: '>', type: 'number', note: '@(Type a value in %)' });
			sysrules.push({ enabled: false, label: '@(Memory)', name: 'sys.memused', value: 0, comparer: '>', type: 'number', note: '@(Type a value in MB)' });
			sysrules.push({ enabled: false, label: '@(Storage size)', name: 'sys.hddused', value: 0, comparer: '>', type: 'number', note: '@(Type a value in MB)' });
			sysrules.push({ enabled: false, label: '@(Count of processes)', name: 'sys.processes', value: 0, comparer: '>', type: 'number', note: '@(Type a value)' });
			// sysrules.push({ enabled: false, label: '@(Count of open connections)', name: 'sys.connections', value: 0, comparer: '>', type: 'number', note: '@(Type a value)' });

			if (item.sysrules) {
				for (var i = 0; i < sysrules.length; i++) {
					var rule = sysrules[i];
					var m = item.sysrules.findItem('name', rule.name);
					if (m) {
						rule.enabled = true;
						rule.comparer = m.comparer;
						rule.value = m.value;
					}
				}
			}

			item.rules = rules;
			item.sysrules = sysrules;
			return item;
		};

		exports.create = function() {
			SET('?form @default', exports.prepare({}));
			SET('common.form', 'alarmsform');
		};

		exports.update = function(el) {
			var id = el.closest('figure').attrd('id');
			var model = exports.model;
			var items = model.items;
			var item = items.findItem('id', id);
			SET('alarmsform @reset', exports.prepare(CLONE(item)));
			SET('common.form', 'alarmsform');
		};

		exports.remove = function(el) {
			var id = el.closest('figure').attrd('id');
			SETTER('approve/show', '@(Are you sure you want to remove selected alarm?)', '"ti ti-trash" Remove', function() {
				exports.tapi('alarms_remove/{0} @showloading ERROR'.format(id), function() {
					SETTER('message/success @hideloading', '@(Alarm has been removed sucessfully)');
					 exports.refresh();
				});
			});
		};

	});
</script>